<div class="main-container debug">
  <div class="main wrapper clearfix debug">
    <form class="search_bar" action="http://localhost:3000/songs" method="GET">
      <input type="text" name="search" placeholder= "Search artist or title">
      <input type="submit">
    </form>

    <h1 class="playlist font1 fontx2">Playlist Results:</h1>
    <div class="current font2 font1X5" style="float:right; margin:20px">
      <a href="/users/<%= @user %>/playlists/<%= @playlist_id %>/play">Play Playlist</a>
      <p style="float: left;"></p>
    </div>

    <form class="play_songs" action="http://localhost:9393/users/<%=@user%>              /playlists" method="GET">
    </form>
    <div class="nonajax"></div>
  </div>
</div>

<script src="/js/playlistsearch.js"></script>

